[Desktop Entry]
Name=CODAv
Comment=Reads CODA SEPA payment XML files
Keywords=coda;xml;sepa;payments;
Categories=Office;Viewer;Finance;GTK;
Encoding=UTF-8
Exec=codav %f
GenericName=CODA Viewer
Icon=application-default-icon
Keywords=CODA;SEPA;Finance;
MimeType=text/xml;application/xml
StartupNotify=true
Terminal=false
Type=Application
