[Desktop Entry]
Name=CODAv
Comment=Reads CODA SEPA payment XML files
Keywords=coda;xml;sepa;finance;payments;
Categories=Office;Viewer;Finance;GTK;
Encoding=UTF-8
Exec=codav %f
GenericName=CODA Viewer
Icon=codav
MimeType=text/xml;application/xml
StartupNotify=true
Terminal=false
Type=Application
