[Desktop Entry]
Version=0.1
Encoding=UTF-8
Name=CODAv
GenericName=CODA Viewer
Comment=Reads CODA SEPA payment XML files
Categories=Office;Viewer;Finance;GTK;
Exec=com.github.cimm.codav
Icon=application-default-icon
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=codav
Keywords=CODA;SEPA;Finance;
